/*body, div, li, ul, p, h1, h2 {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration;
  color: inherit;

  background: transparent;
}*/

li, ul {
  list-style: none;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}

// Poster
.poster {
  border: 2px solid green;
  float: left;
}

// Movie Details
.details {
  border: 2px solid gold;
  float: left;
}

// Movie Index Page
.container-fluid {
  min-width: 1000px;
  text-align: center;
}

.movie-list-items {
  width: 20%;
  height: 180px;
  padding: 10px;
  div {
    height: 100%;
  }
  &:hover {
    border: 1px solid blue;
    transform: scale(1.1);
    opacity: .5;
    -webkit-filter: grayscale(10%);
  }
  .movie-poster{
    width: 100px;
  }
  .movie-details {
    width: 100px;
  }
}

/*Movie Show Page*/
.movie-info {
  width: 800px;
  border: 2px solid black;
  margin: auto;
  > * {
    padding: 10px;
  }
  .movie-poster {
    width: 220px;
    height: 320px;
  }
  .movie-details {
    width: 560px;
  }
}

.actors > * {
  float: left;
  padding: 10px;
  &:first-child {
    padding-left: 0;
  }
}
